:root{
    --theme-color: #0da487;
    --black:#000;
}

.nav__color {
    background-color: #0da487;
}
.background {
    background-color: #0da487;
}
.position{
    padding-left:70rem;
}
.separador{
    border: 2px solid #0da487;
}
.text-primary li {

    color: var(--black) !important;
}
.nav-item a{
    color: var(--black) ;
}
.nav-item img {
    width: 2rem;
    
    
    
}
.main{
    display: flex;
   
}
.container__cards{
  
    display: grid;
   
    
}

.card{
    
    width: 15rem;
    display: flex;

}
.button__cards{
    position: absolute;
    top: 7rem;
    left: 4rem;
    visibility: hidden;
    
   
}


.btn_all_categories{
    background-color: var(--theme-color);
} 
.decoration{
    text-decoration: none;
}
.container__cards{
    flex-wrap: wrap;
    justify-content: space-between;
}
.container__cards img{
   width: 50%;
   align-items: center;

}

.card:hover .button__cards{
    visibility:visible;
    cursor: pointer;
}
.card-title{
    position: relative;
    align-items: center;
}



