*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.figure__logo img{
    width: 150px;
    height: auto;

    


}
@media screen and (max-width: 600px) {
    .header{
     flex-direction: column;
    }
 }